<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define your beans here -->
    <!-- Define the dependency -->
    <bean id="myFortune" class="com.udemy.spring.fortuneService.HappyFortuneService"
    >
    </bean>
    <bean id="trackCoach" class="com.udemy.spring.coach.TrackCoach">
        <!-- Constructor injection-->
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="myCricketCoach" class="com.udemy.spring.coach.CricketCoach">
        <!--set up setter injection-->
        <property name="fortuneService" ref="myFortune"/>

        <!-- Injecting literal values    -->
        <property name="emailAddress" value="email@email.com"/>
        <property name="team" value="Sun-risers Hyderabad"/>
    </bean>

</beans>





